# Texts
AddType text/plain             .txt
AddType text/html              .html .htm .xhtml
AddType text/css               .css
AddType application/javascript .js
AddType text/xml               .xml

# Images
AddType image/png     .png
AddType image/svg+xml .svg .svgz
AddType image/jpg     .jpg
AddType image/gif     .gif
AddType image/x-icon  .ico

# Audio
AddType audio/ogg  .oga
AddType audio/webm .webma
AddType audio/flac .flac
AddType audio/opus .opus
AddType audio/mpeg .mp3
AddType audio/mp4  .m4a
AddType audio/wav  .wav

# Others
AddType application/x-web-app-manifest+json .webapp