/**
 * For that file :
 * @licence newBSD (https://en.wikipedia.org/wiki/BSD_licenses#3-clause_license_.28.22Revised_BSD_License.22.2C_.22New_BSD_License.22.2C_or_.22Modified_BSD_License.22.29)
 */


@charset "UTF-8";

*
{
	max-height: 100%;
	max-width:  100%;
	
	margin:  0;
}

body, canvas
{
	height: 100%;
	width:  100%;
	
	margin: 0;
	padding: 0;
}

audio, form
{
	display: none;
}
